.content {
  height: 100%;
  overflow-y: scroll;
}
.content p {
  padding-top: 0pt;
  padding-bottom: 0pt;
  orphans: 2;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: var(--file-font-size);
  font-style: normal;
}
p.ja{
  color:var(--ja-color);
  margin: 0px;
}
p.en{
  color:var(--en-color);
  margin: 0px;
  padding-top: 10px;
}

.content h1 {
  font-size: var(--file-h1-font-size);
  font-weight: bold
}
.edit-file{
  height:100%;
}
.edit-main {
  width: 100%;
  height: calc(100% - 30px );
  border: solid;
  border-width: 1px;
}
.edit-header{
  display:flex;
  justify-content: space-between;
  background:#bbb;
  height:25px;
}
.edit-filish {
  padding: 3px;
  border:solid;
  border-width:1px;
}
.edit-title{
  background:#eee;
  border:solid;
  border-width:1px;
}
