/*ヘルプダイアログ用*/
#help {
  right: 10px;
  top: 60px;
  height: 200px;
  position: fixed;
  width: 500px;
  z-index: 1000;
  border-radius: 4px;
  margin: auto;
  display: none;
  background: #f0f0f0;
  user-select: none;
  border: 3px;
  border-color: #000;
  border-style: solid;
}
#help_close {
  background-color: #f0f0f0;
  padding: 0;
}
/*helpダイアログのheader*/
.help-header {
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
}

#help p {
  font-size: 5px;
  padding-left: 25px;
}
.help-buttons {
  display: flex;
  padding: 10px;
}
.help-app {
  padding: 10px;
}
.help-app iframe{
  width: 100%;
  height: 300px;
}
.help-app p {
  font-size: 5px;
  padding-left: 25px;
}
.help-main {
  overflow: scroll;
}
#keybord_shortcut{
  right: 10px;
  top: 300px;
  display:none;
  height: 200px;
  position: fixed;
  width: 500px;
  z-index: 999;
  border-radius: 4px;
  margin: auto;
  display: none;
  background: #f0f0f0;
  user-select: none;
  border: 3px;
  border-color: #000;
  border-style: solid;
}
#keybord_shortcut .help-header {
  top: 302px;
}
.help-keyboad {
  padding: 10px;
}
.help-header h3 {
  padding: 10px;
}
.help-header-left {
  width: -webkit-fill-available;
}
.help-main li{
  list-style:none;
}