.pc-hide{
  display:none;
}
@media screen and (max-width: 500px) {
  .pc-hide {display: block}
  .mobile-hide {display: none}
}
@media screen and (max-width: 300px) {
  .button {font-size: revert}
  .pc-hide {display: block}
  .mobile-hide {display: none}
}
#mobile_menu{
  display:
  none;
  position:
  fixed;
  top: env(titlebar-area-height, 33px);
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(2,135,207,0.8);
  backdrop-filter: blur(2px);
  z-index:9999999999;
  padding: 5px;
}
}
