:root {
  --main-color: #7aa1d6;
  --tab-color: #ccc;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  touch-action: pan-y;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: underline
}

body::-webkit-scrollbar {
  display: none;
}

/*header*/
header {
  -webkit-app-region: no-drag;
  app-region: no-drag;
  height: env(titlebar-area-height, 33px);
  background: var(--main-color);
  user-select: none;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  justify-content: space-between;
}

header a {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

header h1 {
  font-size: x-large;
  user-select: none;
}

#header_right {
  -webkit-app-region: no-drag;
  app-region: no-drag;
  height: 100%;
}

#header_left {
  display: flex;
  align-items: center;
}

#title {
  padding-right: 10px;

}

/*最初の設定画面*/
/*フラッシュカード本体*/
#view_cards {
  display: none;
  padding: 10px;
  margin: auto 0px;
  height: 100%;

}

#problem {
  font-size: 20px;
}

#answer {
  font-size: 20px;
  color: white;
  border: solid;
  border-width: 2px;
  border-color: #000;
  min-height: 48px;

}

.next-problem:hover {
  background: #0288d1;
}

.next-problem {
  display: block;
  min-width: 48px;
  height: 100%;
  text-align: center;
}

/*結果表示*/
#view_result {
  display: none;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

label {
  display: block;
}