:root {
  --main-color: #7aa1d6;
  --tab-color: #ccc;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  touch-action: pan-y;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: underline
}

p {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/*header*/
header {
  height: 33px;
  background: var(--main-color);
  user-select: none;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  justify-content: space-between;
}

header h1 {
  font-size: x-large;
  user-select: none;
}

#headerRight {
  height: 100%;
}

#headerLeft {
  display: flex;
  align-items: center;
}

#title {
  padding-right: 10px;
}

/*最初の設定画面*/
#startSettings {
  padding: 5px;
}

/*フラッシュカード本体*/
#viewCards {
  display: none;
  padding: 10px;
  margin: auto 0px;
  height: 100%;
}

.problem,
.answer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/*答えを隠すやつ*/
#hideAnswer {
  position: absolute;
  left: 10px;
  right: 10px;
  background: white;
  color: #858585;
  border: solid 1px;
  padding: 5px;
}

.next-problem:hover {
  background: #0288d1;
}

.next-problem {
  all: unset;
  display: block;
  min-width: 48px;
  height: 100%;
  text-align: center;
}

/*結果表示*/
#viewResult {
  display: none;
}

label {
  display: block;
}