/* mainコンテンツ */
#mainContent {
  padding: 5px;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#mainContent:empty {
  content: "タブが開かれていません。"
}

#mainContent::-webkit-scrollbar {
  display: none;
}

.help-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  /* 形を丸に */
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.help-button:hover {
  background-color: #eee;
}

.help-button:active {
  background-color: #ddd;
}

.help-button:focus {
  outline: none;
}

.help-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.help-button:disabled:hover {
  background-color: #fff;
}

.help-button:disabled:active {
  background-color: #fff;
}

.help-button:disabled:focus {
  outline: none;
}

.help-button:disabled:after {
  content: "ヘルプ";
}

.help-button>a {
  text-decoration: none;
  color: #000;
  /* 文字を中央ぞろえ */
  display: flex;
  align-items: center;
  justify-content: center;
  /* 親要素のすべてで押せるように */
  width: 100%;
  height: 100%;
}

@media print {
  #mainContent {
    padding: 0;
  }

  #mainContent>iframe {
    width: 100vh;
    height: 100vh;
  }

  .help-button {
    display: none;
  }
}