main {
  display: grid;
  justify-content: center;
}

.setting {
  background-color: #ccc;
  margin: 5px;
  padding: 5px;
  height: 30px;
}

.setting label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

:root {
  --main-color: #7aa1d6;
}

header {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
}

body {
  margin: 0;
}

header h1 {
  margin: 0;
  padding: 16px;
}