html,body{
  background:black;
  color:white;
}
.file{
  color: black;
  filter: invert(100%) grayscale(100%) contrast(100);
}
.file::selection{
	text-shadow: 0 0 5px #000080;
}
.tabs{
  color:black;
}
#file_contents,#mobile_menu{
  color:black;
}
.input-file-label{
  color:black;
}
.announce-message{
  background: #cccccc;
}
.edit-title,button.edit-filish,#announces {
  color: black;
}
.html-content{
  color:white
}
.html-content th {
  background: none;
}

.html-content td {
  background: none;
}

.html-content table tr:nth-child(odd) td {
  background: none;
}