*{box-sizing: border-box;}

html,body {
  height: 100vh;
  touch-action: pan-y;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-auto-rows: auto 1fr 1fr auto auto auto auto;
}
body::-webkit-scrollbar{display: none;}
code{
  user-select:all;
}
th{
  background:#00cce1;
}
table td {
	background: #eee;
}
table tr:nth-child(odd) td {
	background: #fff;
}
a {cursor: pointer;}

/*アナウンスタブ用*/
#announces{
  position:fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.announce-message {
  justify-content: space-between;
  padding: 10px;
  background: #bdbdbdbd;
  display: flex;
  margin: 5px;
}

/*main*/
.main{
  margin:10px;
  display:none;/*<-読み込み後にjsで表示するため*/
  overflow: scroll;
}
.main h1{font-size:20px;}
.main h2{font-size:15px;}
.main h3{font-size:10px;}
.input{
  user-select:none;
}
.input-file{
  padding: 2px 5px;
}
.input-file:focus{
  border:inset 2px;
  background:#bbb
}
.input-file-label{
  background:#eee;
  border:solid 1px;
  display:block;
  width:fit-content;
  margin:5px 0;
}
.input-file-label:hover{
  border:inset 2px;
  background:#bbb
}

/*設定ページ用*/
#settings_close {
  background-color: #f0f0f0;
  padding: 0px;
}
.settings-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
#settings p {
  font-size: 5px;
}
.settings-buttons {
  display: flex;
    justify-content: space-between;
}

.settings-main input[type="color" i] {
  appearance: auto;
  width: 50px;
  height: 27px;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  border-width: 1px;
  border-style: solid;
  border-color: buttonborder;
  border-image: initial;
  padding: 1px 2px;
}
.settings-main input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
/*履歴ページ用*/
.history-page-header{
  display:flex;
  justify-content: space-between;
}
.view-histories {
  padding: 0 10px;
  width: fit-content;
}
.view-histories li {
  list-style: none;
  cursor: pointer;
}
.settings-custom {
  width: fit-content;
}
.settings-header h3 {
  font-size: 15px;
}


