/* mainコンテンツ */
#mainContent {
  padding: 5px;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#mainContent:empty {
  content: "タブが開かれていません。"
}

#mainContent::-webkit-scrollbar {
  display: none;
}