:root {
  --tab-color: #ccc;
  --tab-hoverd-color: #bbb;
  --header-button-color: var(--main-color);
  --content-size: 1fr 0px 0px;
  --contents-size-change-bar-color: #bdbdbd;
  --ja-color: #000000;
  --en-color: #000000;
}

.reset {
  all: unset;
  margin: 0;
}

body,
div {
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* headerのツールバーのボタン */
#headerButtons {
  display: flex;
  background: var(--header-button-color);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 40px);
  font-size: 20px;
}

#headerButtons button {
  all: unset;
  text-align: center;
  cursor: pointer;
  padding: 2px 19px;
  height: 100%;
  app-region: no-drag;
  color: #000;
  background-color: var(--main-color);
  height: 100%;
  width: auto;
  user-select: none;
  border: 0;
}

/* headerのファイルメニュー */
#headerFileMenu {
  position: absolute;
  bottom: -100px;
  left: 0;
}

/* tabのスタイル */
#tabs {
  background: var(--tab-color);
  display: grid;
  grid-template-columns: var(--content-size);
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  padding: 5px;
}

#tabsLeft,
#tabsRight {
  overflow-y: scroll;
  height: 25px;
  font-size: 14px;
  display: flex;
  align-items: center
}

#leftTabs,
#rightTabs {
  display: flex;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  align-items: center
}

#leftTabs::-webkit-scrollbar,
#rightTabs::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.celect-view-tab-button {
  height: 100%;
}

#tabs div>button:hover {
  background: var(--tab-hoverd-color)
}


.tab {
  display: flex;
  height: 100%;
  padding: 0 5px;
}

/* 左右のコンテンツの大きさを変えるバー */
.contents-size-change-bar {
  background: var(--contents-size-change-bar-color);
}

#ContentsSizeChangeBar {
  cursor: col-resize;
}

/* mainコンテンツ */
#mainContents {
  display: grid;
  grid-template-columns: var(--content-size);
  grid-template-rows: auto 1f;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  overflow-x: scroll;
}

/* 新しいタブ */
.new-tab {
  padding: 5px;
}

/* wayakuファイルコンテンツ */
.wayaku-content {
  padding: 5px;
}

p.ja {
  color: var(--ja-color);
  margin: 0px;
}

p.en {
  color: var(--en-color);
  margin: 0px;
  padding-top: 10px;
}