:root {
  --tab-color: #ccc;
  --tab-hoverd-color: #bbb;
  --opened-tab-color: #aaa;
  --header-button-color: var(--main-color);
  --header-file-menu-hover-color: var(--main-color);
  --content-size: 1fr 0px 0px;
  --contents-size-change-bar-color: #bdbdbd;
  --ja-color: #000000;
  --en-color: #000000;
}
.reset {
  all: unset;
  margin: 0;
  padding: 0 3px;
}
body,
div {
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.close-icon {
  font-size: 1em;
}
.text-icon {
  font-size: 1.5em;
} /* 印刷用 */
@media print {
  #loading,
  #headerButtons,
  #headerFileMenu,
  #tabs {
    display: none;
  }
  .wayaku-content {
    display: block;
  }
}
