:root {
  --tab-close-button-hoverd-color: red;
}
/* tabのスタイル */
#tabs {
  background: var(--tab-color);
}
#tabsLeft::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#tabsLeft {
  overflow-y: scroll;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#leftTabs {
  display: flex;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

#leftTabs::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.celect-view-tab-button {
  height: 100%;
  width: max-content;
  padding: 0 5px;
}

#tabs div > button:hover,
#tabs div > button:focus {
  background: var(--tab-hoverd-color);
}
.tab-close-button {
  padding: 0 5px;
}
.tab-close-button:hover,
.tab-close-button:focus {
  background: var(--tab-close-button-hoverd-color) !important;
  color: white;
}

.tab {
  display: flex;
  height: calc(100% - 1px);
}

.tab .opened {
  background-color: var(--opened-tab-color);
}

.tab:not(.opened-tab) {
  border-bottom: solid var(--tab-border-color) 1px;
}
.opened-tab {
  background-color: var(--opened-tab-color);
  border-left: solid var(--tab-border-color) 1px;
  border-top: solid var(--tab-border-color) 1px;
  border-right: solid var(--tab-border-color) 1px;
}
.new-tab-button {
  height: -webkit-fill-available;
}

.new-tab-button > button {
  padding: 0 5px;
}
