/* wayakuファイルコンテンツ */
wayaku {
  padding: 5px;
  display: block;
}

wayaku :is(h1, p) {
  user-select: text;
}

p.ja {
  color: var(--ja-color);
  margin: 0px;
}

p.en {
  color: var(--en-color);
  margin: 0px;
}

wayaku h1 {
  margin-bottom: 0;
}
wayaku section {
  margin: 10px 0;
}
/* 和訳ファイルの編集時 */
.edit-file {
  height: 100%;
  display: grid;
  grid-auto-rows: auto 1fr;
}
#editTitle {
  height: calc(100% - 4px);
  padding: 0;
}

.edit-main {
  resize: none;
}
