  body,
  div {
    margin: 0
  }

  :root {
    --main-color: #7aa1d6;
    --words-color: #000000;
    --en-color: #000000;
    --ja-color: #000000;
    --file-h1-font-size: 22px
  }

  header {
    display: flex;
    background: #7aa1d6;
    height: 33px;
    user-select: none;
  }

  .reader-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .tool-bar-button {
    appearance: none;
    border: 0;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: 2px 19px;
    height: 100%;
    app-region: no-drag;
    color: black;
    background-color: #7aa1d6;
    width: auto;
  }

  main {
    margin: 8px;
  }

  main h1 {
    font-size: var(--file-h1-font-size);
    font-weight: bold;
    margin: 0;
  }

  .en {
    color: var(--en-color);
    margin: 0;
    padding-top: 10px;
  }

  .ja {
    color: var(--ja-color);
    margin: 0;
  }

  label.tool-bar-button {
    display: flex;
    align-items: center;
    padding: 0 19px;
    height: 100%;
  }

  @media print {
    header {
      display: none;
    }
  }